.absolutelyWhole {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.createFee {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inactiveText {
    color: var(--attach_picker_tab_inactive_text);
}

.verticalMarginsText{
    margin: 1rem 0 1rem 0;
}
